<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.oucho.musicplayer"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MusiqueApplication"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".search.SearchActivity"
            android:label="@string/title_activity_plop"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".equalizer.EqualizerActivity"
            android:label="@string/equalizer"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEqualizer">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.oucho.musicplayer.MainActivity" />
        </activity>

        <service
            android:name=".services.PlayerService"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".services.ConvertService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".equalizer.AudioEffectsReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="org.oucho.musicplayer.OPEN_AUDIO_EFFECT_SESSION" />
                <action android:name="org.oucho.musicplayer.CLOSE_AUDIO_EFFECT_SESSION" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".utils.StopReceive"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="org.oucho.musicplayer.STOP" />
            </intent-filter>
        </receiver>
        <receiver android:name=".widget.MusiqueWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/musique_widget_info" />
        </receiver>

        <service android:name=".widget.WidgetService"/>
    </application>

</manifest>